body {
  overflow: hidden;
}

.allContainer {
  display: flex;
  width: 500px;
  height: 600px;
  inset: 0;
  position: relative;
  margin: auto;
  flex-direction: column;
}

.textHeader {
  display: flex;
  justify-content: center;
  color: rgba(118, 163, 50, 0.904);
  text-shadow: 2px -2px 2px #ffffff;
  margin-top: 20%;
}

.heightContainer,
.weightContainer {
  width: 500px;
  height: 60px;
  margin-top: 2%;
}

#heightGetter,
#weightGetter {
  display: flex;
  width: 200px;
  height: 40px;
  direction: rtl;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  border: 1px solid rgba(118, 163, 50, 0.904);
}

#heightGetter:focus,
#weightGetter:focus {
  width: 230px;
  height: 45px;
}

.heightContainer {
  display: flex;
  justify-content: center;
}

.weightContainer {
  display: flex;
  justify-content: center;
}

.interHeight,
.interweight {
  display: flex;
  color: rgba(118, 163, 50, 0.904);
}

.calculateButton {
  display: flex;
  width: 500px;
  height: 100px;
  justify-content: center;
  align-items: center;
}

.calculateBTN {
  display: flex;
  width: 300px;
  height: 30px;
  cursor: pointer;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  font-weight: 400;
  margin-top: 20%;
  padding: 1%;
  border: none;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-shadow: 1px -1px 2px black;
  background-color: rgba(7, 177, 148, 0.884);
  opacity: 0.8;
}

.calculateBTN:hover {
  background-color: rgba(8, 163, 137, 0.884);
  opacity: 1;
}

input {
  width: 50%;
  margin: 3%;
}

input:focus {
  outline-width: 0;
  width: 300px;
  height: 30px;
  transition-duration: 0.7s;
}

p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: large;
  font-weight: 400;
}

.ErrorHeightElem,
.ErrorWeightElem {
  box-shadow: inset -5px -5px 15px rgba(228, 15, 15, 0.822),
    inset -5px -5px 15px rgba(228, 15, 15, 0.822) !important;
  animation: blanking1 1.5s ease-in-out;
}

@keyframes blanking1 {
  50% {
    opacity: 1;
  }

  50% {
    opacity: 0.7;
  }
}

/* ************************************************************************************************************* */

.showResult {
  display: none;
  width: 500px;
  height: 550px;
  flex-direction: column;
  inset: 0;
  position: relative;
  margin: auto;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 0 100px 100px 100px;
  background-image: linear-gradient(
    to top,
    rgb(54, 177, 199),
    rgb(44, 129, 145),
    rgb(138, 138, 207)
  );
  position: absolute;
  z-index: 1;
}

.displayResult {
  display: flex;
}

.removeBox {
  cursor: pointer;
  border: none;
  border-radius: 50px;
  margin-top: 0%;
}

.removeBox:hover {
  font-size: xx-large;
}

header {
  border-radius: 100px;
}

.yourHeightWeight {
  display: inline-block;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 100px;
  box-shadow: inset -5px 6px 15px yellowgreen, inset 5px -6px 15px yellowgreen !important;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: medium;
  font-weight: 600;
  align-items: center;
}

.yourHeight,
.yourWeight {
  display: flex;
  width: 200px;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 2.2%;
  color: #ffffff;
  text-shadow: 2px -1px 2px #000;
}

.resultCircle {
  display: flex;
  width: 250px;
  height: 250px;
  flex-direction: column;
  align-items: center;
  box-shadow: inset 3px -2px 15px rgba(80, 207, 190, 0.904);
  border-radius: 50%;
  margin: 3%;
}

.situation {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: 7%;
}

.bmiText,
.textPersion,
.resultNum {
  color: white;
  text-shadow: 2px -2px 7px rgb(0, 0, 0);
  margin-top: 10%;
}

.resultNum {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  font-size: xx-large;
}

.pElem {
  color: white;
  margin-top: -5%;
  direction: rtl;
}

/* ************************************************************************************** */

.headerLogo {
  display: flex;
  width: 100px;
  height: 100px;
  justify-content: flex-start;
  position: absolute;
  z-index: 1;
  border: none;
  border-radius: 50%;
  opacity: 80%;
}

.keiCount {
  display: flex;
  width: 100px;
  height: 500px;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: #615858;
  margin-top: -20%;
  padding-top: 5%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  text-shadow: 2px -2px 10px #fffcfc;
}

.keiCount:hover {
  display: flex;
  cursor: pointer;
  transition-duration: 1s;
  margin-top: 2%;
  align-items: start;
  align-content: start;
  opacity: 1;
}

.highWeightRate {
  direction: rtl;
}

.bodyMateMode {
  background-image: linear-gradient(
    to right,
    rgb(161, 158, 158),
    rgb(168, 166, 166),
    rgb(172, 168, 168)
  );
}
